<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Frame of the Mind</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/infoStyles.css">
  </head>
