<%- include('partials/header') %>

<div class="container">
    <h1>THE FRAME OF MIND</h1>
</div>
<p>Amidst a global pandemic, we recognize that a lot of people have been facing anxiety, loneliness, stress and depression. Particularly, people of color and minorities have been disproportionally affected by all the chaos and injustice that is happening around us. We want you to know that it is ok, that you're not alone in feeling this way. We want you to know that you can improve your current state of feelings, that you can climb back stronger than before. We want you to feel supported, love and happy. Your mental health is our priority. That is why we created this website. Click the "Start Now!" button to begin! Explore our resources page too for additional ways that can help you feel better. </p>


<div class="text-center">
  		<a class="btn btn-light btn-lg" href="/mood">Start Now!</a>
</div>
<div class="text-center2">
	<a class="btn btn-light btn-lg" href="/resource">Resources</a>
</div>
<%- include('partials/footer') %>
