<%- include('partials/header') %>
<div class="container">
    <h1>RESOURCES</h1>
</div>
<div class ="resource">
Suicide prevention hotline: 800-273-8255<br>
Find a local support group: <a href="https://www.dbsalliance.org/support/chapters-and-support-groups/find-a-support-group/">Support group</a>
 <br>
The Trevor project: 1-866-488-7386<br>
More mental health resources: <a href="https://www.mentalhealthfirstaid.org/mental-health-resources/">Find more resources</a>
 <br><br>
 Take Action:
 <br>
 Donate to: <a href="https://mhanational.org/donate-mental-health-america">Mental Health America</a>
 <br>
 Volunteer: <a href="https://hopegain.org/?gclid=CjwKCAjwg4-EBhBwEiwAzYAlsuPayXDafmJ614nQ7EOvVdF7EAOqRDzJvYQkobXTSmhTZPUGUu6pExoCQV4QAvD_BwE">Mental Health Advocate"</a>
</div>
<a class="btn btn-light btn-lg" href="/home"><b>Go Back</b></a>

<%- include('partials/footer') %>
